@model IEnumerable<Project>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h4 style="margin-bottom: 0">Projetos</h4>
    </div>
    <div class="card-body p-0">
        <table id="table" class="table display compact" style="margin-top: 0px !important; width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enterprise)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InsertDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot style="display: table-header-group;">
                <tr>
                    <th class="clamp-text" style="width: 10px"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                    <th class="clamp-text" style="width: 10%"></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enterprise)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsertDate)
                        </td>
                        <td>
                            @{
                                var finished = item.Finished ? "Finalizado" : "Em Produção";
                            }
                            @finished
                        </td>
                        <td>
                            <a class="iconsActions" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
                            <a class="iconsActions" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list"></i></a>
                            <a class="iconsActions" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="suspend bg-white shadow text-center px-2 py-2" style="right: 2rem; bottom: 2rem; border-radius: 5rem">
    <div class="row px-2">
        <a class="rounded-button" href="#" id="btnDelete" style="margin-right: 1rem !important; background-color: #ff0000; display: none; border-radius: 50%; align-items: center; justify-content: center;">
            <i class="fas fa-trash" style="color: #ffffff; font-size: 1.5rem;"></i>
        </a>
    </div>
    <div class="row px-2">
        <a asp-action="Create" class="rounded-button" style="border-radius: 50%; background-color: #007bff;">
            <i class="fas fa-plus" style="color: #ffffff; font-size: 1.5rem;"></i>
        </a>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#chkAll").click(function () {
                $("input[name='chkSelected']").prop('checked', $(this).prop('checked'));

                if ($(this).prop('checked'))
                    $('#btnDelete').show();
                else
                    $('#btnDelete').hide();
            });

            $("input[name='chkSelected']").click(function () {
                var selectedIds = $("input[name='chkSelected']:checked").length;

                if ($(this).is(':checked') || selectedIds > 0) {
                    $('#btnDelete').show();
                }
                else {
                    $('#btnDelete').hide();
                    $('#chkAll').prop('checked', false);
                }

            });

            $("#btnDelete").click(function () {
                var selectedIds = $("input[name='chkSelected']:checked").map(function () {
                    return $(this).val();
                }).get();

                if (selectedIds.length > 0) {
                    $('#btnDelete').show();

                    if (confirm("Você tem certeza que deseja deletar este(s) registros?")) {
                        $.ajax({
                            url: '@Url.Action("MultipleDelete", "Projects")',
                            type: 'POST',
                            data: { ids: selectedIds },
                            success: function () {
                                location.reload();
                            },
                            error: function () {
                                alert("Um erro ocorreu ao tentar deletar este(s) resgistros.");
                            }
                        });
                    }
                } else {
                    $('#btnDelete').hide();

                    alert("Por favor selecione pelo menos um item a ser deletado.");
                }
            });

            const dataTableHandler = new dataTableGenerate('#table');
        });
    </script>
}