@model Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Circle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circle.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BornDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelStudy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enterprise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStudying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStudying)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
